@import "../node_modules/bootstrap/scss/bootstrap.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  // Scale and align user picture in the navbar 
  .user-pic {
    height: 1em;
    margin-right: 0.6em;
  }

  .nav-link {
    display: flex;
    align-items: center;
  }
}

.article-author-img {
  width: 3em;
  height: 3em;
}

.comment-author-img {
  width: 2em;
  height: 2em;
}

.user-img {
  width: 12em;
  height: 12em;
}
